<h2>{{title}} Page</h2>
<div class ="col-md-6 col-lg-6 well">
<form [formGroup]="userForm" (ngSubmit)="userFormSubmit()">
    <fieldset>
        <legend>User</legend>
    
    <div class="form-group">
           <label for="name"> Name</label>
           <input name="name"
                formControlName="name"
                id="name"
                 [(ngModel)]="user.name"
                type="text"
                class ="form-control"
                [ngClass]="{'editable':isEditMode}">
           <div *ngIf="getUserForm(name).touched 
           && getUserForm(name).errors">
                <div *ngIf="getUserForm(name).errors.required"
                    class="alert alert-danger">
                    Name is Required
                </div>
                <div *ngIf="getUserForm(name).errors.cannotContainSpace"
                    class="alert alert-danger">
                    Name cannot contain Spaces
                </div>

           </div> 
    </div>
    <div class="form-group">
        <label for="email"> Email</label>
        <input name="email" 
           formControlName="email"
           id="email"
           [(ngModel)]="user.email"
           type="text"
           class="form-control" 
           [ngClass]="{'editable':isEditMode}">
            <div *ngIf="getUserForm(email).errors
                        && getUserForm(email).touched">
                        <div *ngIf="getUserForm(email).errors.required"
                             class="alert alert-danger">
                            Email is Required
                        </div>
                          <div *ngIf="!getUserForm(email).errors.required
                          && getUserForm(email).invalid"
                             class="alert alert-danger">
                            Email is Invalid
                        </div>
            </div> 
    </div>
    <div class="form-group">
        <label for="phone"> Phone</label>
          <input name="phone" 
          [(ngModel)]="user.phone"
           formControlName="phone"
           id="phone"
           type="text"
           class="form-control"
           [ngClass]="{'editable':isEditMode}" >
           <div *ngIf="getUserForm(phone).errors
                        && getUserForm(phone).touched">
                        <div *ngIf="getUserForm(phone).errors.required"
                             class="alert alert-danger">
                            Phone Number is Required
                        </div>
                        <div *ngIf="getUserForm(phone).errors.mustbeValidPhoneNumber
                                && !getUserForm(phone).errors.required"
                             class="alert alert-danger">
                            Must be a Valid Phone number
                        </div>
           </div>
    </div>
    </fieldset>
    <fieldset formGroupName="address">
        <legend>Address</legend>
   
    <div class="form-group">
            <label for="street"> Street</label>
            <input name="street"
                formControlName="street"
                id="street"
                [(ngModel)]="user.address.street"
                [ngClass]="{'editable':isEditMode}"
                type="text"
                class="form-control">
            <div *ngIf="getUserFormAddress(address).street.errors
                        && getUserFormAddress(address).street.touched">
                        <div *ngIf="getUserFormAddress(address).street.errors.required"
                             class="alert alert-danger">
                            Street is Required
                        </div>
            </div>
    </div>
   <div class="form-group">
        <label for="suite"> Suite</label>
          <input name="suite"
                formControlName="suite"
                id="suite"
                [(ngModel)]="user.address.suite"
                type="text"
                class="form-control"
                [ngClass]="{'editable':isEditMode}">
            <div *ngIf="getUserFormAddress(address).suite.errors
                        && getUserFormAddress(address).suite.touched">
                        <div *ngIf="getUserFormAddress(address).suite.errors.required"
                             class="alert alert-danger">
                            Suite is Required
                        </div>
            </div>
    </div>
    <div class="form-group">
        <label for="city"> City</label>
          <input name="city"
                formControlName="city"
                id="city"
                [(ngModel)]="user.address.city"
                type="text"
                class="form-control"
                [ngClass]="{'editable':isEditMode}">
            <div *ngIf="getUserFormAddress(address).city.errors
                        && getUserFormAddress(address).city.touched">
                        <div *ngIf="getUserFormAddress(address).city.errors.required"
                             class="alert alert-danger">
                             City is Required
                        </div>
            </div>
    </div>
    <div class="form-group">
        <label for="zipCode"> ZipCode</label> 
          <input name="zipCode"
                formControlName="zipCode"
                id="zipCode"
                [(ngModel)]="user.address.zipcode"
                type="text"
                class="form-control"
                [ngClass]="{'editable':isEditMode}">
            <div *ngIf="getUserFormAddress(address).zipCode.errors
                        && getUserFormAddress(address).zipCode.touched">
                        <div *ngIf="getUserFormAddress(address).zipCode.errors.required"
                             class="alert alert-danger">
                            Zip Code is Required
                        </div>
                        <div *ngIf="getUserFormAddress(address).zipCode.errors.mustbeValidZipCode
                                && !getUserFormAddress(address).zipCode.errors.required"
                             class="alert alert-danger">
                            Must be a Valid Zip Code
                        </div>
           </div>
    </div>
     </fieldset>
     <button 
        class="btn btn-primary" 
        type="submit" [disabled]="!userForm.valid">Save</button>
</form>
</div>