<h2>{{title}} Page</h2>
<div class ="col-md-6 col-lg-6 well">
<form [formGroup]="userForm" (ngSubmit)="userFormSubmit()">
    <fieldset>
        <legend>User</legend>
    
    <div class="form-group">
           <label for="name"> Name</label>
           <input name="name"
           formControlName="name"
           id="name"
           [(ngModel)]="user.name"
           type="text"
           class ="form-control"
           [ngClass]="{'editable':isEditMode}">
           <div *ngIf="userForm.controls.name.touched && userForm.controls.name.errors">
                <div *ngIf="userForm.controls.name.errors.required"
                    class="alert alert-danger">
                    Name is Required
                </div>
                <div *ngIf="userForm.controls.name.errors.cannotContainSpace"
                    class="alert alert-danger">
                    Name cannot contain Spaces
                </div>

           </div> 
    </div>
    <div class="form-group">
        <label for="email"> Email</label>
          <input name="email"
           formControlName="email"
           id="email"
           type="email"
           class="form-control" 
           [ngClass]="{'editable':isEditMode}"
           [(ngModel)]="user.email"
           email
           (click)="log(userForm)">
            <div *ngIf="userForm.controls.email.errors
                        && userForm.controls.email.touched">
                        <div *ngIf="userForm.controls.email.errors.required"
                             class="alert alert-danger">
                            Email is Required
                        </div>
                          <div *ngIf="!userForm.controls.email.errors.required
                          && userForm.controls.email.invalid"
                             class="alert alert-danger">
                            Email is Invalid
                        </div>
            </div>
    </div>
    <div class="form-group">
        <label for="phone"> Phone</label>
          <input name="phone" 
          [(ngModel)]="user.phone"
           formControlName="phone"
           id="phone"
           type="text"
           class="form-control"
           [ngClass]="{'editable':isEditMode}" >
           <div *ngIf="userForm.controls.phone.errors
                        && userForm.controls.phone.touched">
                        <div *ngIf="userForm.controls.phone.errors.required"
                             class="alert alert-danger">
                            Phone Number is Required
                        </div>
                        <div *ngIf="userForm.controls.phone.errors.mustbeValidPhoneNumber
                                && !userForm.controls.phone.errors.required"
                             class="alert alert-danger">
                            Must be a Valid Phone number
                        </div>
           </div>
    </div>
    </fieldset>
    <fieldset formGroupName="address">
        <legend>Address</legend>
   
    <div class="form-group">
            <label for="street"> Street</label>
            <input name="street"
                formControlName="street"
                id="street"
                [(ngModel)]="user.address.street"
                [ngClass]="{'editable':isEditMode}"
                type="text"
                class="form-control">
            <div *ngIf="userForm.controls.address.controls.street.errors
                        && userForm.controls.address.controls.street.touched">
                        <div *ngIf="userForm.controls.address.controls.street.errors.required"
                             class="alert alert-danger">
                            Street is Required
                        </div>
            </div>
    </div>
   <div class="form-group">
        <label for="suite"> Suite</label>
          <input name="suite"
                formControlName="suite"
                id="suite"
                [(ngModel)]="user.address.suite"
                type="text"
                class="form-control"
                [ngClass]="{'editable':isEditMode}">
            <div *ngIf="userForm.controls.address.controls.suite.errors
                        && userForm.controls.address.controls.suite.touched">
                        <div *ngIf="userForm.controls.address.controls.suite.errors.required"
                             class="alert alert-danger">
                            Suite is Required
                        </div>
            </div>
    </div>
    <div class="form-group">
        <label for="city"> City</label>
          <input name="city"
                formControlName="city"
                id="city"
                [(ngModel)]="user.address.city"
                type="text"
                class="form-control"
                [ngClass]="{'editable':isEditMode}">
            <div *ngIf="userForm.controls.address.controls.city.errors
                        && userForm.controls.address.controls.city.touched">
                        <div *ngIf="userForm.controls.address.controls.city.errors.required"
                             class="alert alert-danger">
                             City is Required
                        </div>
            </div>
    </div>
    <div class="form-group">
        <label for="zipCode"> ZipCode</label> 
          <input name="zipCode"
                formControlName="zipCode"
                id="zipCode"
                [(ngModel)]="user.address.zipcode"
                type="text"
                class="form-control"
                [ngClass]="{'editable':isEditMode}">
            <div *ngIf="userForm.controls.address.controls.zipCode.errors
                        && userForm.controls.address.controls.zipCode.touched">
                        <div *ngIf="userForm.controls.address.controls.zipCode.errors.required"
                             class="alert alert-danger">
                            Zip Code is Required
                        </div>
                        <div *ngIf="userForm.controls.address.controls.zipCode.errors.mustbeValidZipCode
                                && !userForm.controls.address.controls.zipCode.errors.required"
                             class="alert alert-danger">
                            Must be a Valid Zip Code
                        </div>
           </div>
    </div>
     </fieldset>
     <button 
        class="btn btn-primary" 
        type="submit" [disabled]="!userForm.valid">Save</button>
</form>
</div>