<h2>Users</h2>
<p>
    <a class="btn btn-primary" name="Add User" routerLink="/users/new">
        Add User
    </a>
</p>
<div class="clearfix">

</div>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let user of users">
       <td> {{user.name}}</td>
       <td> {{user.email}}</td>
       <td>
           <span class="glyphicon glyphicon-edit" routerLink="/users/{{user.id}}">
            </span>
        </td>
       <td ><span class="glyphicon glyphicon-remove" routerLink="/users/delete/{{user.id}}"></span></td>
    </tr>
</table>