<h3>
    *ngIf,*ngFor,ngSwitch
</h3>
<ul class="nav nav-pills">
    <li [class.active]="viewMode=='map'"><a (click)="viewMode='map'"> Map View </a></li>
    <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'"> List View </a></li>
</ul>
<div [ngSwitch]="viewMode">
    <ng-template [ngSwitchCase]="'list'">
        <h5>List Content View</h5>
            Data Id = {{data.id}}<br>

            Name={{data.name}} | To Upper Case = {{ data.name | uppercase }} | To Lower Case = {{ data.name | lowercase }}  <br>
            
            Version #={{data.versionNo}} | To Number = {{data.versionNo |number}}<br>
            
            Rating ={{data.rating | number: '2.2-2'}}
            Cost={{data.cost | currency:'INR':true:'2.2-2'}}<br>
            
            Date={{data.date | date:'MMM-dd-yyyy'}}<br>
         </ng-template>
    <ng-template [ngSwitchCase]="'map'"> Map Content View
        <br>{{data | json}}
      </ng-template>
        {{post.title}}
        <br>
        {{post.body |summary }}
        <br>
        {{post.name?.lastName}}
        
</div>
<br>
<!-- 
<div *ngIf="courses.length>0" >
        <ul>
            <li *ngFor="let course of courses, let i=index">
                {{i+1}} - {{course}}
            </li>
        </ul>
</div>
<div *ngIf="courses.length==0">
    You don`t have any courses to list here
</div> -->

<div *ngIf='courses.length>0; else noCourses'>
    <ul *ngFor="let course of courses, let i = index">
        {{i+1}}-{{course}}    
    </ul>
</div>
<div [hidden]="courses.length==0">
    No courses to show with hidden property
</div>
<ng-template #noCourses>
    You Don`t have any courses to list here
</ng-template>
 <button (click)="initializeData($event);" class="btn btn-primary"
 [disabled]="courses.length>0">Initialize</button>
